<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Map by shenqihui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/stylesheet.css" media="screen">
    <link rel="stylesheet" href="bower_components/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
  </head>
  <body ng-app="app">
    <section class="page-header">
      <h1 class="project-name">Map</h1>
      <h2 class="project-tagline">很方便的创建 map</h2>
      <a href="https://github.com/shenqihui/map" class="btn btn-info">View on GitHub</a>
      <a href="https://github.com/shenqihui/map/zipball/gh-pages" class="btn btn-info">Download .zip</a>
      <a href="https://github.com/shenqihui/map/tarball/gh-pages" class="btn btn-info">Download .tar.gz</a>
    </section>
    <section class="main-content" ng-controller="map">
      <h1>渲染结果</h1>
      <div data-chart="map" id="map-container" style="margin: 0 auto;height: {{map.height}}px;width: {{map.width}}px"></div>
      <hr>
      <div>
        <h1>配置</h1>
        <form class="form-inline" ng-submit="emitBuildMap()">
          <div class="form-group">
            <label for="map-select">地图类型：</label>
            <select class="form-control" name="map-select" id="map-select" ng-model="mapType" ng-change="getAreaJs()">
              <option value="merc">merc</option>
              <option value="mill">mill</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <label for="map-select">地区级别：</label>
            <select class="form-control" name="map-select" id="map-select" ng-model="areaType" ng-change="getAreaJs()">
              <option ng-repeat="(name, tree) in mapTree" value="{{name}}">{{name}}</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <label for="map-select">区域：</label>
            <select class="form-control" name="map-select" id="map-select" ng-model="area" ng-change="getAreaJs()">
              <option ng-repeat="item in mapTree[areaType]" value="{{item.name}}" ng-init="area = item[mapType]">{{item.name}}</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <label for="map-width">地图宽度：</label>
            <div class="input-group">
              <input class="form-control" name="map-width" id="map-width" ng-model="map.width" ng-change="getAreaJs()"/>
              <div class="input-group-addon">px</div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <label for="map-height">地图高度：</label>
            <div class="input-group">
              <input class="form-control" name="map-height" id="map-height" ng-model="map.height" ng-change="getAreaJs()"/>
              <div class="input-group-addon">px</div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="form-group">
            <button id="map-build" class="btn btn-info" ng-disabled="!mapTree[areaType][area][mapType + 'Load']"><span ng-show="mapTree[areaType][area][mapType + 'Load']">渲染地图</span> <span ng-show="!mapTree[areaType][area][mapType + 'Load']">加载地图底图中</span></button>
          </div>
          <hr class="clearfix">
          <div class="form-group" style="width: 100%;">
            <label for="map-data">地图数据：</label>
            <textarea class="form-control" name="map-data" id="map-data" ng-model="mapData" cols="30" rows="10" style="width: 100%;"></textarea>
          </div>
        </form>
      </div>
      <hr>
      <div>
        <p>例子数据：可以用下面的例子数据进行渲染地图。</p>
        <ul>
          <li>
            <p>能渲染的地图类型（不区分 Mercator 和 Miller 类型）： China <button class="btn btn-info" ng-click="useExampleData('countries', 'China', example.China)">Try</button></p>
            <pre>{{example.China}}</pre>
          </li>
          <li>
            <p>能渲染的地图类型（不区分 Mercator 和 Miller 类型）： World 地区级别 <button class="btn btn-info" ng-click="useExampleData('world', 'World', example.World)">Try</button></p>
            <pre>{{example.World}}</pre>
          </li>
        </ul>
      </div>
      <hr>
      <div>
        <h1>数据格式说明：</h1>
        如下：
        <pre>{map: {}}</pre>
        map 字段为 map 渲染数据内容，具体国家名字城市名字参看： <a href="http://jvectormap.com/maps/world/africa/">jvectormap</a> 的说明。
      </div>
      <hr>
      <div>
        <h1>Todo:</h1>
        <ol>
          <li><i class="fa fa-check-square-o"></i>&nbsp;</i>补充各种已有的地图</li>
          <li><i class="fa fa-square-o"></i>&nbsp;增加例子</li>
          <li>
            <i class="fa fa-spinner"></i>&nbsp;增强配置项
            <ol>
              <li><i class="fa fa-check-square-o"></i>宽度高度</li>
              <li><i class="fa fa-square-o"></i>渲染颜色</li>
              <li><i class="fa fa-square-o"></i>推荐渲染颜色</li>
            </ol>
          </li>
          <li><i class="fa fa-square-o"></i>&nbsp;直接导出图片</li>
          <li><i class="fa fa-check-square-o"></i>&nbsp;直接 Try 例子</li>
          <li><i class="fa fa-square-o"></i>&nbsp;Github 仓库直接存储地图底图</li>
        </ol>
      </div>
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/shenqihui/map">Map</a> is maintained by <a href="https://github.com/shenqihui">shenqihui</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>
    </section>
  <!-- script -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-load/angular-load.js"></script>

  <!-- map data -->
  <!-- 初始化时候，有个世界地图 -->
  <script src="map_vender/jquery-jvectormap-world-mill.js"></script>

  <script src="js/index.js"></script>
  <!-- script end -->


  <!-- Google Analytics -->
  <script type="text/javascript">
  /* jshint -W033 */
  /* jshint -W069 */
  /* jshint -W030 */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48454013-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->

  <!-- Baidu Analytics -->
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?a359010dd82707c1ee6d1ca5d64be33b";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  <!-- Edn Baidu Analytics -->

  </body>
</html>
